/* Row.css */

.swiper-button-prev,
.swiper-button-next {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}
